In [1]:
import sqlalchemy
import pandas as pd

In [2]:
engine = sqlalchemy.create_engine(
    "mysql+mysqldb://admin:rootroot@database-1.c3oywy0kww41.ap-northeast-2.rds.amazonaws.com/final_project",
    encoding="utf8",
)

sql = """
    SELECT AREA_NM, PPLTN_TIME, AREA_PPLTN_MIN, AREA_PPLTN_MAX, PPLTN_RATE_0, PPLTN_RATE_10, PPLTN_RATE_20, PPLTN_RATE_30, PPLTN_RATE_40, PPLTN_RATE_50, PPLTN_RATE_60, PPLTN_RATE_70 FROM Realtime;
"""

In [158]:
with engine.connect() as conn:
    df = pd.read_sql_query(sql, conn)
df_cp = df.copy()
AREA_NM_list = df_cp["AREA_NM"].unique()

In [159]:
df_cp[df_cp.columns[2:]] = df_cp[df_cp.columns[2:]].astype(float)
df_cp["ds"] = pd.to_datetime(df_cp["PPLTN_TIME"])
df_cp["DAY_NAME"] = df_cp["ds"].dt.day_name()

In [160]:
df_cp["PPLTN_DATE"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%Y-%m-%d")
df_cp["PPLTN_TIME"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%H")

In [161]:
df_cp["PREDICT"] = df_cp.loc[:, ["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"]].sum(axis=1) / 2

In [172]:
df_cp["ds"] = df_cp["ds"].dt.strftime("%Y-%m-%d %H:00:00")

In [162]:
df_1 = df_cp[df_cp["AREA_NM"] == AREA_NM_list[0]].copy()
df_1 = df_1.drop(["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"], axis=1)

In [163]:
tmp = df_1.groupby(["PPLTN_DATE", "PPLTN_TIME"], as_index=False).mean(
    df_1.columns[df_1.columns.str.contains("RATE")].to_list() + ["PREDICT"]
)

In [164]:
df_1.drop_duplicates(["PPLTN_DATE", "PPLTN_TIME"], inplace=True)
df_1.reset_index(drop=True, inplace=True)
df_1[df_1.columns[df_1.columns.str.contains("RATE")]] = tmp[
    tmp.columns[tmp.columns.str.contains("RATE")]
]
df_1["PREDICT"] = tmp["PREDICT"]

In [165]:
PPLTN_DATE_lst = df_1["PPLTN_DATE"].unique()[1:]
PPLTN_DATE_lst[0]
PPLTN_DATE_lst

array(['2024-05-24', '2024-05-25', '2024-05-26', '2024-05-27',
       '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
       '2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04',
       '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08',
       '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12',
       '2024-06-13', '2024-06-14'], dtype=object)

In [ ]:
i = 6
pre = df_1[df_1["ds"].dt.date < pd.to_datetime(PPLTN_DATE_lst[i]).date()]
now = df_1[df_1["ds"].dt.date == pd.to_datetime(PPLTN_DATE_lst[i]).date()]
group = (
    pre.drop(pre.columns[pre.columns.str.contains("RATE")], axis=1)
    .groupby(["DAY_NAME", "PPLTN_TIME"], as_index=False)
    .mean("PREDICT")
)

In [ ]:
result = pd.merge(
    left=now,
    right=group,
    on=["DAY_NAME", "PPLTN_TIME"],
    suffixes=["", "_group"],
    how="left",
)
result["PERCENTAGE"] = round(result["PREDICT"] / result["PREDICT_group"] * 100)
result.drop(columns=["PREDICT_group"], inplace=True)

In [ ]:
result["AREA_NM+PPLTN_TIME"] = (
    result["AREA_NM"] + "+" + result["PPLTN_DATE"] + " " + result["PPLTN_TIME"]
)
result = result.map(str)

In [ ]:
result_df = result.loc[
    :,
    [
        "AREA_NM+PPLTN_TIME",
        "AREA_NM",
        "PPLTN_DATE",
        "PPLTN_TIME",
        "DAY_NAME",
        "PREDICT",
        "PERCENTAGE",
        "PPLTN_RATE_0",
        "PPLTN_RATE_10",
        "PPLTN_RATE_20",
        "PPLTN_RATE_30",
        "PPLTN_RATE_40",
        "PPLTN_RATE_50",
        "PPLTN_RATE_60",
        "PPLTN_RATE_70",
    ],
]

In [ ]:
result_df.to_sql(
    name="Predict",
    con=engine,
    schema="final_project",
    if_exists="append",
    index=False,
    index_label="id",
    chunksize=1,
)

19

In [ ]:
import sqlalchemy
import numpy as np
import pandas as pd

engine = sqlalchemy.create_engine(
    "mysql+mysqldb://admin:rootroot@database-1.c3oywy0kww41.ap-northeast-2.rds.amazonaws.com/final_project",
    encoding="utf8",
)

sql = """
    SELECT AREA_NM, PPLTN_TIME, AREA_PPLTN_MIN, AREA_PPLTN_MAX, PPLTN_RATE_0, PPLTN_RATE_10, PPLTN_RATE_20, PPLTN_RATE_30, PPLTN_RATE_40, PPLTN_RATE_50, PPLTN_RATE_60, PPLTN_RATE_70 FROM Realtime;
"""

with engine.connect() as conn:
    df = pd.read_sql_query(sql, conn)

df_cp = df.copy()
AREA_NM_list = df_cp["AREA_NM"].unique()
df_cp[df_cp.columns[2:]] = df_cp[df_cp.columns[2:]].astype(float)

df_cp["ds"] = pd.to_datetime(df_cp["PPLTN_TIME"])
df_cp["DAY_NAME"] = df_cp["ds"].dt.day_name()
df_cp["PPLTN_DATE"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%Y-%m-%d")
df_cp["PPLTN_TIME"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%H")

df_cp["PREDICT"] = df_cp.loc[:, ["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"]].sum(axis=1) / 2

for i in range(len(AREA_NM_list)):
    df_1 = df_cp[df_cp["AREA_NM"] == AREA_NM_list[i]].copy()
    df_1 = df_1.drop(["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"], axis=1)
    tmp = df_1.groupby(["PPLTN_DATE", "PPLTN_TIME"], as_index=False).mean(
        df_1.columns[df_1.columns.str.contains("RATE")].to_list() + ["PREDICT"]
    )
    df_1.drop_duplicates(["PPLTN_DATE", "PPLTN_TIME"], inplace=True)
    df_1.reset_index(drop=True, inplace=True)
    df_1[df_1.columns[df_1.columns.str.contains("RATE")]] = tmp[
        tmp.columns[tmp.columns.str.contains("RATE")]
    ]
    df_1["PREDICT"] = tmp["PREDICT"]
    PPLTN_DATE_lst = df_1["PPLTN_DATE"].unique()[1:]

    for j in range(len(PPLTN_DATE_lst)):
        pre = df_1[df_1["ds"].dt.date < pd.to_datetime(PPLTN_DATE_lst[j]).date()]
        now = df_1[df_1["ds"].dt.date == pd.to_datetime(PPLTN_DATE_lst[j]).date()]
        group = (
            pre.drop(pre.columns[pre.columns.str.contains("RATE")], axis=1)
            .groupby(["DAY_NAME", "PPLTN_TIME"], as_index=False)
            .mean("PREDICT")
        )
        result = pd.merge(
            left=now,
            right=group,
            on=["DAY_NAME", "PPLTN_TIME"],
            suffixes=["", "_group"],
            how="left",
        )
        result["PERCENTAGE"] = round(result["PREDICT"] / result["PREDICT_group"] * 100)
        result.drop(columns=["PREDICT_group"], inplace=True)
        result["AREA_NM+PPLTN_TIME"] = (
            result["AREA_NM"] + "+" + result["PPLTN_DATE"] + " " + result["PPLTN_TIME"]
        )
        result = result.map(str)
        result_df = result.loc[
            :,
            [
                "AREA_NM+PPLTN_TIME",
                "AREA_NM",
                "PPLTN_DATE",
                "PPLTN_TIME",
                "DAY_NAME",
                "PREDICT",
                "PERCENTAGE",
                "PPLTN_RATE_0",
                "PPLTN_RATE_10",
                "PPLTN_RATE_20",
                "PPLTN_RATE_30",
                "PPLTN_RATE_40",
                "PPLTN_RATE_50",
                "PPLTN_RATE_60",
                "PPLTN_RATE_70",
            ],
        ]
        result_df.to_sql(
            name="Predict",
            con=engine,
            schema="final_project",
            if_exists="append",
            index=False,
            index_label="id",
            chunksize=1,
        )

In [49]:
prophet_df = df_cp[df_cp["AREA_NM"] == "강남역"].loc[:, ["ds", "PREDICT"]]
prophet_df.rename(columns={"PREDICT": "y"}, inplace=True)
prophet_df.reset_index(drop=True, inplace=True)

In [98]:
from prophet import Prophet
from prophet.diagnostics import performance_metrics, cross_validation
from sklearn.metrics import mean_squared_error

m = Prophet()
m.fit(prophet_df[:-13])

11:25:27 - cmdstanpy - INFO - Chain [1] start processing
11:25:27 - cmdstanpy - INFO - Chain [1] done processing

In [126]:
future = m.make_future_dataframe(periods=13, freq="H")
forecast = m.predict(future)
forecast.tail(13).loc[:, ["ds", "yhat"]]
y_pred = forecast.tail(13)["yhat"].values
y_true = prophet_df.tail(13)["y"].values

In [128]:
mean_squared_error(y_true, y_pred) ** (1 / 2)

5347.308479349168

In [148]:
prophet_df["ds"] = pd.to_datetime(prophet_df["ds"]).dt.strftime("%Y-%m-%d %H:00:00")

In [193]:
m = Prophet()
m.fit(prophet_df.groupby("ds", as_index=False).mean()[:-8])

11:51:32 - cmdstanpy - INFO - Chain [1] start processing
11:51:32 - cmdstanpy - INFO - Chain [1] done processing

In [194]:
future = m.make_future_dataframe(periods=8, freq="H")
forecast = m.predict(future)
forecast.tail(8).loc[:, ["ds", "yhat"]]
y_pred = forecast.tail(8)["yhat"].values
y_true = prophet_df.tail(8)["y"].values

In [200]:
prophet_df.groupby("ds", as_index=False).mean()[-8:]

                      ds        y
428  2024-06-14 01:00:00  16000.0
429  2024-06-14 03:00:00  13000.0
430  2024-06-14 04:00:00  11000.0
431  2024-06-14 05:00:00  13000.0
432  2024-06-14 06:00:00  17000.0
433  2024-06-14 08:00:00  45000.0
434  2024-06-14 10:00:00  68000.0
435  2024-06-14 11:00:00  75000.0

In [198]:
future

                     ds
0   2024-05-23 11:00:00
1   2024-05-23 12:00:00
2   2024-05-23 13:00:00
3   2024-05-23 14:00:00
4   2024-05-23 15:00:00
..                  ...
431 2024-06-14 03:00:00
432 2024-06-14 04:00:00
433 2024-06-14 05:00:00
434 2024-06-14 06:00:00
435 2024-06-14 07:00:00

[436 rows x 1 columns]

In [195]:
mean_squared_error(y_true, y_pred) ** (1 / 2)

36667.46192273953

In [ ]:
df_cp[df_cp.columns[2:]] = df_cp[df_cp.columns[2:]].astype(float)

df_cp["ds"] = pd.to_datetime(df_cp["PPLTN_TIME"])
df_cp["DAY_NAME"] = df_cp["ds"].dt.day_name()
df_cp["PPLTN_DATE"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%Y-%m-%d")
df_cp["PPLTN_TIME"] = pd.to_datetime(df_cp["PPLTN_TIME"]).dt.strftime("%H")

df_cp["PREDICT"] = df_cp.loc[:, ["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"]].sum(axis=1) / 2
df_1 = df_cp[df_cp["AREA_NM"] == AREA_NM_list[0]].copy()
df_1 = df_1.drop(["AREA_PPLTN_MIN", "AREA_PPLTN_MAX"], axis=1)
tmp = df_1.groupby(["PPLTN_DATE", "PPLTN_TIME"], as_index=False).mean(
    df_1.columns[df_1.columns.str.contains("RATE")].to_list() + ["PREDICT"]
)

In [ ]:
from pandas import read_csv
from matplotlib import pyplot

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols = list()
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
    for i in range(0, n_out):
        cols.append(df.shift(-i))
    agg = pd.concat(cols, axis=1)
    if dropnan:
        agg.dropna(inplace=True)
    return agg.values

In [ ]:
def train_test_split(data, n_test):
    return data[:-n_test, :], data[-n_test:, :]

In [ ]:
def random_forest_forecast(train, testX):
    train = np.asarray(train)
    trainX, trainy = train[:, :-1], train[:, -1]
    model = RandomForestRegressor(n_estimators=1000)
    model.fit(trainX, trainy)
    yhat = model.predict([testX])
    return yhat[0]

In [ ]:
def walk_forward_validation(data, n_test):
    predictions = list()
    train, test = train_test_split(data, n_test)
    history = [x for x in train]
    for i in range(len(test)):
        testX, testy = test[i, :-1], test[i, -1]
        yhat = random_forest_forecast(history, testX)
        predictions.append(yhat)
        history.append(test[i])
        print(">expected=%.1f, predicted=%.1f" % (testy, yhat))

    error = mean_squared_error(test[:, -1], predictions) ** (1 / 2)
    return error, test[:, -1], predictions

In [ ]:
data = series_to_supervised(tsa["y"].values.reshape(-1, 1), n_in=30)

In [ ]:
rmse, y, yhat = walk_forward_validation(data, 12)

In [ ]:
print("RMSE: %.3f" % rmse)

In [ ]:
values = tsa["y"].values.reshape(-1, 1)
train = series_to_supervised(values, n_in=6)

trainX, trainy = train[:, :-1], train[:, -1]
# fit model
model = RandomForestRegressor(n_estimators=1000)
model.fit(trainX, trainy)

row = values[-6:].flatten()

yhat = model.predict(np.asarray([row]))
print("Input: %s, Predicted: %.3f" % (row, yhat[0]))

In [ ]:
pd.read_csv("t.csv)

SyntaxError: unterminated string literal (detected at line 1) (4198702379.py, line 1)

In [ ]:
tsa = 강남.loc[:,["PPLTN_TIME","AREA_PPLTN_MEDIAN"]]
tsa.columns = ["ds", "y"]

In [ ]:
tsa["ds"] = pd.to_datetime(tsa["ds"].dt.strftime("%Y-%m-%d %H"))
tsa = tsa.groupby("ds").mean()
tsa = tsa.reset_index()

In [ ]:
# This is fitting on all the data (no train test split in this example)
m = prophet.Prophet() # 요일 적용이 되었는가. 요일별로 혼잡도를 계산
m.fit(tsa.reset_index())

In [ ]:
future = m.make_future_dataframe(periods=300,freq = 'H')
forecast = m.predict(future)
forecast.head(3)

In [ ]:
m.plot(forecast);

In [ ]:
from statsmodels.tools.eval_measures import rmse

In [ ]:
predictions = forecast.iloc[-12:]['yhat']
test = tsa.iloc[-12:,1]
rmse(predictions,test)

In [ ]:
# LSTM, RF

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [ ]:
tf.random.set_seed(7)

In [ ]:
dataset = tsa["y"].astype('float32')
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset.values.reshape(-1, 1))

In [ ]:
# split into train and test sets
train_size = int(len(dataset) * 0.67)
test_size = len(dataset) - train_size
train, test = dataset[0:train_size,:], dataset[train_size:len(dataset),:]

In [ ]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), 0]
        dataX.append(a)
        dataY.append(dataset[i + look_back, 0])
    return np.array(dataX), np.array(dataY)

In [ ]:
look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

In [ ]:

# reshape input to be [samples, time steps, features]
trainX = np.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))
testX = np.reshape(testX, (testX.shape[0], 1, testX.shape[1]))

In [ ]:
model = Sequential()
model.add(LSTM(4, input_shape=(1, look_back)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(trainX, trainY, epochs=100, batch_size=1, verbose=2)

In [ ]:

# make predictions
trainPredict = model.predict(trainX)
testPredict = model.predict(testX)
# invert predictions
trainPredict = scaler.inverse_transform(trainPredict)
trainY = scaler.inverse_transform([trainY])
testPredict = scaler.inverse_transform(testPredict)
testY = scaler.inverse_transform([testY])
# calculate root mean squared error
trainScore = np.sqrt(mean_squared_error(trainY[0], trainPredict[:,0]))
print('Train Score: %.2f RMSE' % (trainScore))
testScore = np.sqrt(mean_squared_error(testY[0], testPredict[:,0]))
print('Test Score: %.2f RMSE' % (testScore))

In [ ]:
# shift train predictions for plotting
trainPredictPlot = np.empty_like(dataset)
trainPredictPlot[:, :] = np.nan
trainPredictPlot[look_back:len(trainPredict)+look_back, :] = trainPredict
# shift test predictions for plotting
testPredictPlot = np.empty_like(dataset)
testPredictPlot[:, :] = np.nan
testPredictPlot[len(trainPredict)+(look_back*2)+1:len(dataset)-1, :] = testPredict
# plot baseline and predictions
plt.plot(scaler.inverse_transform(dataset))
plt.plot(trainPredictPlot)
plt.plot(testPredictPlot)
plt.show()